aniso8601
annotated-types
blinker
blis
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
cymem
DAWG-Python
docopt
filelock
Flask
Flask-RESTful
fsspec
gensim
huggingface-hub
idna
install
intervaltree
ipymarkup
itsdangerous
Jinja2
joblib
langcodes
MarkupSafe
mpmath
murmurhash
natasha
navec
networkx
nltk
numpy
packaging
preshed
pydantic
pydantic_core
pymorphy2
pymorphy2-dicts-ru
pymorphy3
pymorphy3-dicts-ru
pytz
PyYAML
razdel
regex
requests
safetensors
scipy
sentencepiece
six
slovnet
smart-open
sortedcontainers
srsly
sympy
thinc
tokenizers
torch
tqdm
transformers
typer
typing_extensions
urllib3
wasabi
weasel
Werkzeug
yargy
